.course {
  background-color: var(--course-color);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  &-class {
    color: var(--id-filter);
  }
}

.unavailable {
  opacity: 0.5;
  cursor: not-allowed;
}

.classButton {
  color: white;
  border: 3px outset wheat;
  background-color: var(--bar-color);
  margin-top: 10px;
}

.classButton:hover {
  border: 3px inset wheat;
}