@import "./breakpoints.scss";

@mixin phone() {
  @media (max-width: $phoneSize) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: $tabletSize) {
    @content;
  }
}

@mixin desktop() {
  @media (max-width: $desktopSize) {
    @content;
  }
}

@mixin largeDesktop() {
  @media (max-width: $largeDesktopSize) {
    @content;
  }
}

@mixin extraLargeDesktop() {
  @media (min-width: $largeDesktopSize) {
    @content;
  }
}

@mixin circle($size, $direction: height) {
  @if $direction == height {
    height: $size;
  }
  @if $direction == width {
    width: $size;
  }
  aspect-ratio: 1;
  border-radius: 50%;
}
