.addOffer {
  & > .upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & > .middle {
    display: flex;
    align-items: center;
  }
  & > .lower {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
