.footer-placeholder {
  width: 100%;
  height: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--container-color);
  gap: 1rem;
  & > img {
    height: 100%;
    padding: 5px;
  }
  & > article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    & > span,
    a {
      width: 100%;
    }
  }
}

.footer-title {
  margin-bottom: 0.75rem;
}
