.offersList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.myOffersList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: var(--course-color);
  border-radius: 5px;
  &-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p:nth-child(1) b{
      color: var(--id-filter);
    }

    p:nth-child(2) b {
      color: var(--course-filter);
    }

    p:nth-child(3) b {
      color: var(--lecturer-filter);
    }
  }
}

p {
  display: inline;
}

.approveButton {
  background-color: var(--container-color);
  transition: border 1s ease, background-color 1s ease;
  margin: 5px 10px;
}

.approveButton:disabled{
  border: 0px;
  cursor: default;
}

.approveButton:enabled:hover:nth-child(2){
  background-color: rgb(124, 241, 124);
  border: 1px solid rgb(20, 185, 20);
  transition: border 1s ease, background-color 1s ease;
}
.approveButton:enabled:hover:nth-child(3){
  background-color: rgb(219, 127, 127);
  border: 1px solid rgb(185, 20, 20);
  transition: border 1s ease, background-color 1s ease;
}

.filterButton {
  border-radius: 50px;
  padding: 8px 15px;
  border: 2px solid white;
  color: white;
  background-color: var(--bar-color) !important;
}

.filterButton:hover {
  border: 2px #758aad outset;
}

.acceptButton{
  padding: 10px 20px;
}
.acceptButton:hover {
  border: 2px inset #758aad;
  padding: 9px 19px;
}