.helpCont {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

p {
    display: block;
    margin-bottom: 50px;
}

h5 {
    display: inline-block;
    padding: 10px;
    font-weight: normal;
}

ul {
    list-style-type: none;
}
ul li {
    &:before {
      content: '\2022'; /* Unicode dla kropki (U+2022) */
      margin-right: 5px; /* Dodaj odstęp między kropką a tekstem */
      color: #000; /* Kolor kropki */
    }
  }